// colors
$white-1: #ffffff; // default

$black-1: #000000;
$black-2: #14141c;
$black-3: #030305;
$black-4: #14141d;

$hover-color: #c7a17a;
$brown-bright-1: #f7d9bf;

$gray-dark-1: #21212e;
$gray-dark-2: #33333d;

$gray-1: #808080;
$gray-2: #828282;

$gray-bright-1: #e0e0e0;
$gray-bright-2: #d9d9d9;
$gray-bright-3: #dedede;
$gray-bright-4: #dfdfdf;

$border-color: #32323d;
// background

$body-bg: #020204; // default

// fonts
$font: "Jost"; // default

$regular-400: 400;
$medium-500: 500;
$semibold-600: 600; // default
$bold-700: 700;
$black-900: 900;

$font-size-14: 14px;
$font-size-15: 15px; // default
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-40: 40px;
$font-size-60: 60px;