.banner__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  border-radius: 10px;
  background: $black-4;
  position: relative;
  padding: 30px 73px 42px 600px;
  z-index: 3;
  margin-bottom: 80px;
  &:before {
    position: absolute;
    content: "";
    background-image: url(../images/banner/before.png);
    width: 600px;
    height: 330px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px 0px 0px 10px;
  }
}
.banner__title {
  font-size: $font-size-24;
  font-weight: $black-900;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.banner__text {
  max-width: 498px;
  color: $gray-bright-4;
  font-size: $font-size-18;
  font-weight: $regular-400;
}