.description {
  margin-bottom: 80px;
}
.description__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 144%;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.description__list {
  padding: 30px;
  border-radius: 10px;
  background: #14141d;
  list-style: circle;
}
.description__text {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 400;
}